.sidebar {
    background-color: rgb(247, 247, 247);
    height: 100vh;
    border-right: 1px solid rgb(214, 217, 220);
    width: 20rem;

    .upper {
        display: flex;
        padding: 0.4rem 0;
        gap: 10px;
        padding-left: 1rem;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        color: #ff5c35;
        border-bottom: 1px solid rgb(214, 217, 220);
        svg {
            cursor: pointer;
            background-color: rgba(235, 234, 234, 0.596);
            border-radius: 50%;
            padding: 3px;
            // &:hover{
            //     background-color: rgba(235, 234, 234, 0.596);
            //     border-radius: 50%;
            // }
        }
    }
    .upper1 {
        padding: 0.65rem 0;
        padding-left: 1rem;
    }
    .lower {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: bold;

        div {
            svg {
                font-size: 1.3rem;
            }
            a {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                gap: 10px;
                width: 100%;
            }
            display: flex;
            align-items: center;
            border-radius: 3px;
            color: rgba(0, 0, 0, 0.776);
            margin: 0 7px;
            margin-bottom: 5px;
            gap: 10px;

            &:hover {
                background: var(--bg-secondary);
                cursor: pointer;
            }
        }

        .active {
            background: #ff5c35;
            color: white;
            cursor: pointer;

            &:hover {
                background: #ff5c35;
                cursor: pointer;
            }
        }
    }
}

.sidebar_mob {
    display: none;
}

@media (max-width: 750px) {
    .sidebar {
        display: none;
    }
    .sidebar_mob {
        display: block;
        background-color: rgb(247, 247, 247);
        height: 100vh;
        border-right: 1px solid rgb(214, 217, 220);
        position: relative;
        width: 4.7rem;

        .upper {
            display: flex;
            padding: 0.45rem 0;
            gap: 10px;
            padding-left: 1rem;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
            color: #ff5c35;
            border-bottom: 1px solid rgb(214, 217, 220);
            svg {
                cursor: pointer;
                background-color: rgba(235, 234, 234, 0.596);
                border-radius: 50%;
                padding: 3px;
            }
        }
        .upper1 {
            padding: 0.65rem 0;
            padding-left: 1rem;
        }
        .lower {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: bold;

            div {
                svg {
                    font-size: 1.3rem;
                }
                a {
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    gap: 10px;
                    width: 100%;
                }
                display: flex;
                align-items: center;
                border-radius: 3px;
                color: rgba(0, 0, 0, 0.776);
                margin: 0 7px;
                margin-bottom: 5px;
                gap: 10px;

                &:hover {
                    background: var(--bg-secondary);
                    cursor: pointer;
                }
            }

            .active {
                background: #ff5c35;
                color: white;
                cursor: pointer;

                &:hover {
                    background: #ff5c35;
                    cursor: pointer;
                }
            }
        }

        .lower2 {
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            font-weight: bold;
            position: absolute;
            padding-top: 1rem;
            background-color: rgb(247, 247, 247);
            height: 95vh;
            border-right: 1px solid rgb(214, 217, 220);
            border-top: 1px solid rgb(214, 217, 220);
            transition: all 0.3s ease-in-out;
            width: 17rem;
            top: 2.95rem;

            div {
                svg {
                    font-size: 1.3rem;
                }
                a {
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    gap: 10px;
                    width: 100%;
                }
                display: flex;
                align-items: center;
                border-radius: 3px;
                color: rgba(0, 0, 0, 0.776);
                margin: 0 7px;
                margin-bottom: 5px;
                gap: 10px;

                &:hover {
                    background: var(--bg-secondary);
                    cursor: pointer;
                }
            }

            .active {
                background: #ff5c35;
                color: white;
                cursor: pointer;

                &:hover {
                    background: #ff5c35;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .sidebar_mob {
        display: block;
        .upper {
            padding-top: 0.65rem;
            padding-bottom: 0.65rem;
        }
        .lower2{
            top: 3.3rem;
        }
    }
}
