.sidebar {
    background: var(--bg-forth);
    color: var(--color-primary);
    height: 100vh;
    border-right: 1px solid var(--color-border1);
    width: 20rem;

    .upper {
        display: flex;
        height: 9vh;
        gap: 10px;
        padding-left: 1rem;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        color: #ff5c35;
        border-bottom: 1px solid var(--color-border1);

        svg {
            cursor: pointer;
            background: var(--bg-forth);
            border-radius: 50%;
        }
    }

    .lower {
        display: flex;
        flex-direction: column;
        margin-top: 0.3rem;
        font-size: 1.2rem;
        font-weight: bold;

        div {
            svg {
                font-size: 1.3rem;
            }
            a {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                gap: 10px;
                width: 100%;
            }
            display: flex;
            align-items: center;
            border-radius: 3px;
            margin: 0 7px;
            margin-bottom: 5px;
            gap: 10px;

            &:hover {
                background: var(--bg-secondary);
                cursor: pointer;
            }
        }

        .active {
            background: #ff5c35;
            color: white;
            cursor: pointer;

            &:hover {
                background: #ff5c35;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}
