.p_head {
    padding: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.365vh;

    .p_head_left {
        font-weight: bold;
        font-size: 1.5rem;

        &::first-letter {
            font-size: 2rem;
            color: #ff5c35;
        }
    }

    .user_profile_head {
        display: flex;
        align-items: center;
        position: relative;
        gap: 2px;

        .svg {
            border-radius: 50%;
            padding: 5px;
            padding-bottom: 2px;
            transform: translateY(2px);
            svg {
                font-size: 1.3rem;
                color: rgb(90, 92, 94);
            }
            &:hover {
                background: var(--bg-secondary);
            }
        }

        .active {
            transition: all 0.1s ease-in-out;
            background: var(--bg-secondary);
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            border-radius: 20px;
            gap: 7px;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }

            svg {
                transition: all 0.1s ease-in-out;
            }

            &:hover {
                cursor: pointer;

                background: var(--bg-secondary);
            }
        }
        .dropdown {
            position: absolute;
            background: white;
            right: 10px;
            top: 53px;
            gap: 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            margin-top: 5px;
            font-weight: bold;
            padding: 10px;
            color: #002e6e;
            font-size: 1rem;
            border-radius: 5px;
            box-shadow: 0 2px 5px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
            cursor: pointer;

            &:hover {
                background: var(--bg-secondary);
            }
        }
    }
}
