.dash_sidebar {
    background-color: rgb(247, 247, 247);
    height: 100vh;
    border-right: 1px solid rgb(214, 217, 220);

    .dash_sidebar_top {
        .top {
            display: flex;
            align-items: center;
            padding: 5.5px;
            justify-content: space-between;
            border-bottom: 1px solid rgb(214, 217, 220);

            .logo {
                display: flex;
                align-items: center;
                gap: 6px;

                img {
                    width: 2.1rem;
                    height: 2.1rem;
                }
                h1 {
                    font-size: 2.1rem;
                    font-weight: 600;
                    color: #ff5c35;
                }
            }
            .menu {
                display: flex;
                align-items: center;
                cursor: pointer;
                background-color: rgba(235, 234, 234, 0.596);
                border-radius: 5px;
                transform: translateY(1px);
                margin-right: 7px;
                svg {
                    font-size: 2rem;
                }
            }
        }
        .bottom {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: bold;

            .active {
                background: #ff5c35;
                color: white;
                cursor: pointer;
            }

            div {
                display: flex;
                align-items: center;
                border-radius: 3px;
                color: rgba(0, 0, 0, 0.776);
                margin: 0 7px;
                margin-bottom: 5px;
                gap: 10px;

                a {
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    gap: 10px;
                    width: 100%;
                }
            }
        }
    }
}
