.active-nav {
  height: 60px;
  width: 100%;
  top: 0px;
  transition: 0.3s linear;
}
.hidden {
  height: 60px;
  width: 100%;
  z-index: 40;
  top: -80px;
  transition: 0.3s linear;
}

header {
  position: fixed;
  user-select: none;
  z-index: 99;
  backdrop-filter: blur(6px);
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  color: var(--color-primary);
  padding: 0 20px;

  .header_left {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      .upper {
        display: flex;
        padding: 6.5px;
        align-items: center;
        font-size: 1.9rem;
        font-weight: bold;
        color: #ff5c35;
      }
    }

    .search {
      display: flex;
      align-items: center;
      background: var(--bg-forth);
      padding: 10px;
      border-radius: 50px;
      cursor: text;
      width: 50%;

      svg {
        color: var(--color-secondary);
        font-size: 1.2rem;
      }

      input {
        outline: none;
        margin-left: 0.3rem;
        color: var(--color-primary);
        border: none;
        background: transparent;
        font-size: 15px;
        width: 100%;
      }
    }
  }

  .menu {
    display: none;
  }

  .header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 20px;

    a {
      color: var(--color-secondary);
      font-weight: bold;
      position: relative;

      &:hover {
        text-decoration: underline;
      }

      p {
        svg {
          transition: all 0.1s ease-in;
          transform: translateY(1px);
        }
      }

      .hover_links {
        position: absolute;
        width: 11.5rem;

        .inner {
          margin-top: 1rem;
          border: 1px solid #434f5a;
          border-radius: 3px;
          background: var(--bg-forth);
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 0.5rem 1rem;
        }
      }
    }

    .login {
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      background-color: #ff5c35;
      color: white;

      &:hover {
        background-color: #ff5b32d3;
        color: white;
      }
    }
  }

  .header_right_small {
    background: #434f5a;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;

    .close {
      text-align: right;
      margin-right: 10px;
      padding: 10px;
      cursor: pointer;

      svg {
        font-size: 2rem;
        color: white;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      transition: all 0.3s ease-in-out;

      a {
        background: #ff5c35;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;

        p {
          color: white;
        }
      }

      .login {
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #ff5c35;
        color: white;

        &:hover {
          background-color: #ff5b32d3;
          color: white;
        }
      }
    }
  }

  .more_padding {
    margin-top: 5rem;
  }
}

@media (max-width: 810px) {
  header {
    padding: 0 10px;
    .header_right {
      gap: 15px;
    }
  }
}

@media (max-width: 700px) {
  header {
    grid-template-columns: 1fr 2fr;
    padding: 0 5px;

    .header_left {
      .search {
        display: none;
      }
    }

    .header_right {
      gap: 12px;
    }
  }
}

@media (max-width: 550px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .header_right {
      display: none;
    }
    .menu {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;

      svg {
        font-size: 1.5rem;
      }
    }
  }
}
