.blur {
    background: rgba(255, 255, 255, 0.4);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    .report_box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--bg-primary);
        color: var(--color-primary);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        z-index: 99;
        width: 50%;

        .report_header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 1.5px solid var(--bg-forth);
            font-size: 20px;

            .small_circle {
                position: absolute;
                left: 0;
                color: var(--color-primary);
                height: 36px;
                width: 36px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--bg-forth);

                &:hover {
                    cursor: pointer;
                    background-color: var(--bg-forth);
                }
            }
            span {
                color: var(--color-primary);
            }
        }

        .report_body {
            max-height: 80vh;
            overflow: auto;
            padding-right: 5px;

            .first {
                width: 100%;
                display: flex;
                flex-direction: column;

                .grp {
                    width: 100%;
                    display: flex;
                    gap: 10px;

                    .combine {
                        width: 100%;
                        .small {
                            font-size: 0.8rem;
                            color: rgb(146, 147, 147);
                            margin-top: 10px;
                            margin-bottom: 5px;
                        }
                        div {
                            padding: 7.2px;
                            border: 1px solid var(--color-border1);
                            cursor: text;
                        }
                    }
                }
            }
            .second {
                .img {
                    display: flex;
                    gap: 10px;
                    max-width: 35rem;
                    overflow-x: auto;
                    padding: 0 5px;

                    img {
                        width: 13rem;
                        height: 100%;
                        max-height: 15rem;
                        border-radius: 3px;
                        border: 1px solid rgb(214, 217, 220);
                        margin-top: 1rem;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {
        .report_box {
            width: 70%;
        }
    }

    @media (max-width: 700px) {
        .report_box {
            width: 85%;
        }
    }

    @media (max-width: 550px) {
        .report_box {
            width: 95%;

            .report_body {
                .first {
                    .grp {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    @media (max-width: 450px) {
        .report_box {
            .report_header {
                span {
                    margin-left: 15px;
                }
            }
        }
    }
}
