.home {
    padding: 3rem;
    padding-top: 0;
    position: relative;

    .box {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        justify-content: center;
        align-items: center;

        .warning {
            margin: 0 1rem;
            border-radius: 5px;
            background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
            color: white;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            padding: 0.7rem 1rem;
            margin-bottom: 2rem;

            .btn {
                background-color: #ff5c35;
                color: white;
                width: 7.2rem;
                border: none;
                outline: none;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                cursor: pointer;
                font-weight: bold;
                margin-top: 10px;
                font-size: 1.1rem;
            }
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 2.5fr;
            align-items: center;
            justify-content: center;
            -webkit-user-select: none;
            gap: 30px;

            .image {
                img {
                    margin-left: 2rem;
                    width: 13.6rem;
                    animation: imgAnimate 1s ease-in-out infinite alternate;
                }
            }
            .text {
                display: flex;
                flex-wrap: wrap;
                margin-top: 3px;
                flex-direction: column;

                h2 {
                    font-size: 3rem;
                    margin-bottom: 0.3rem;
                }
                a {
                    margin-top: 10px;
                    width: fit-content;
                    button {
                        display: flex;
                        align-items: center;
                        background-color: #ff5c35;
                        outline: none;
                        border: none;
                        color: white;
                        cursor: pointer;
                        font-weight: bold;
                        gap: 8px;
                        padding: 0.5rem 0.7rem;
                        font-size: 1.2rem;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    .container2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            .card {
                display: flex;
                border: 1px solid lightslategrey;
                border-radius: 6px;
                flex-direction: column;
                padding: 10px;
                text-align: center;
                width: 17rem;
                img {
                    margin: auto;
                    width: 10rem;
                    height: 10rem;
                }
                a {
                    padding: 5px 10px;
                    background: #ff5c35;
                    border: none;
                    outline: none;
                    color: white;
                    border-radius: 3px;
                    margin-top: 7px;
                }
            }
        }
    }
    .container3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 2rem;

        h2 {
            font-size: 2rem;
        }

        .cards {
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            border: 1px solid lightslategray;
            border-radius: 6px;

            p {
                padding: 25px 15px;
                font-size: 1.1rem;
                letter-spacing: 1px;
            }

            .img {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .logo {
                    width: 170px;
                    height: 170px;
                }
            }
            .upper {
                -webkit-user-select: none;
                display: flex;
                padding: 6.5px;
                align-items: center;
                padding-right: 1rem;
                font-size: 5rem;
                font-weight: bold;
                color: #ff5c35;
            }
        }
    }

    @media (max-width: 1030px) {
        .box {
            padding-left: 0;
            padding-right: 0;
        }
        .container3 {
            .cards {
                .img {
                    .logo {
                        width: 120px;
                        height: 120px;
                    }
                }
                .upper {
                    font-size: 3.5rem;
                }
            }
        }
    }

    @media (max-width: 850px) {
        padding-left: 0rem;
        padding-right: 0rem;
        .box {
            .container {
                .text {
                    margin-right: 1rem;
                    h2 {
                        font-size: 2.5rem;
                    }
                }
            }
        }
        .container3 {
            .cards {
                .img {
                    .logo {
                        width: 100px;
                        height: 100px;
                    }
                }
                .upper {
                    font-size: 3rem;
                }
            }
        }
    }

    @media (max-width: 750px) {
        padding-left: 0rem;
        padding-right: 0rem;
        .box {
            .container {
                .text {
                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    @media (max-width: 650px) {
        .container3 {
            .cards {
                flex-direction: column;
                .img {
                    padding-bottom: 1rem;
                    .logo {
                        width: 100px;
                        height: 100px;
                    }
                }
                .upper {
                    font-size: 3rem;
                }
            }
        }
    }

    @media (max-width: 550px) {
        .box {
            .container {
                display: flex;
                margin-left: 1rem;
                margin-right: 2rem;

                .image {
                    display: none;
                }
                .text {
                    width: 100%;
                    h2 {
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }
}
