header {
    background: var(--bg-primary);
    .header_right_forgot {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
        gap: 20px;

        .login {
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #ff5c35;
            font-weight: bold;
            color: white;

            &:hover {
                background-color: #ff5b32d3;
            }
        }
    }
}

.login-div {
    .login {
        .loginform {
            .forgot_head {
                padding-bottom: 5px;
                border-bottom: 1px solid var(--color-border);
            }
            .para {
                margin: 10px 0;
            }

            .error {
                text-align: center;
                margin: 10px;
                color: red;
            }
            .message{
                text-align: center;
                margin: 10px;
                color: green;
            }

            .account {
                display: flex;
                background: var(--bg-forth);
                padding: 10px;
                gap: 10px;
                align-items: center;
                border-radius: 3px;
                padding-bottom: 5px;
                cursor: pointer;

                &:hover{
                    background: #3a3b3cb7;
                }

                .img {
                    img {
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                    }
                }
                .details {
                    display: flex;
                    flex-direction: column;
                    transform: translateY(-2px);

                    span {
                        &:nth-child(1) {
                            color: #ff5c35;
                        }

                        &:nth-child(2) {
                            color: gray;
                        }
                    }
                }
            }

            .input_forgot{
                margin-bottom: 1rem;
            }

            .forgot_btn {
                display: flex;
                justify-content: flex-end;
                gap: 15px;
                margin-top: 1rem;

                button {
                    outline: none;
                    border: none;
                    padding: 8px 15px;
                    border-radius: 3px;
                    cursor: pointer;
                    font-weight: bold;

                    &:nth-child(2) {
                        background: #ff5c35;
                        color: white;

                        &:hover {
                            background: #fa714f;
                        }
                    }
                }
            }
        }
    }
}
